/*************** GENERAL ***************/
body {
    color: rgb(36, 36, 36);
    font-family: 'Roboto', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*************** NAVBAR ***************/

h1 {
    font-size: 1.5em;
    margin-left: 1vw;
    margin-top: 2vh;
}

header a {
    color: white;
}

header:hover a {
    color: white;
}

.navbar li:hover a {
    color: rgb(36, 36, 36);
}

.hbgr {
    color: white;
    width: 40px;
    height: 40px;
}

/*************** HOME PAGE ***************/

.line-height {
    line-height: 2.5em;
}

#lastChapters {
    margin-bottom: 10vh;
}

#articles a {
    color: rgb(36, 36, 36);
}

.col-md-3 {
    padding: 0;
}

h4 {
    margin-bottom: -0.1em;
}

#publicationDate {
    margin-bottom: 0;
}

.card-header,
.card-footer {
    background-color: #77B5FE;
}

.report {
    background-color: rgb(250, 194, 194);
}

/*************** FORMS ***************/

.form {
    background-color: rgb(201, 201, 201);
}

.form a {
    color: rgb(36, 36, 36);
}

.form:hover a {
    text-decoration: none;
}

.minChars {
    font-size: 0.9em;
}

/*************** MEDIA QUERIES ***************/

@media screen and (max-width: 425px) {
    h1 {
        font-size: 1em;
        margin-top: 20px;
    }

    #logo {
        width: 40px;
        height: 40px;
    }

    .cnx {
        width: 70px;
        height: 70px;
    }
}